<div class="container">
    <div class="pt-5">

        <div class="card">
            <div class="card-header">
                <h3>User Details</h3>
            </div>
            <div class="card-body">
                <p><strong>id: </strong>{{user?.id}}</p>
                <p><strong>Username: </strong>{{user?.username}}</p>
                <p><strong>Email: </strong>{{user?.email}}</p>
                <p><strong>Enabled: </strong>{{user?.enabled}}</p>
                <p><strong>Role: </strong>{{user?.role}}</p>
            </div>
        </div>

    </div>
</div>
