<div class="container">
    <div class="pt-5">

        <div class="card">
            <div class="card-header">
                <h3>User Details</h3>
            </div>
            <div class="card-body">
                <p><strong>id: </strong>{{user?.id}}</p>
                <p><strong>Username: </strong>{{user?.username}}</p>
                <p><strong>Email: </strong>{{user?.email}}</p>
                <p><strong>Enabled: </strong>{{user?.enabled}}</p>
                <p><strong>Role: </strong>{{user?.role}}</p>
                <!-- <button class="btn btn-warning" (click)="delete()">Delete account</button> -->
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Delete account</button>
            </div>
        </div>

         <!-- The Modal -->
        <div class="modal" id="myModal"  #content>
            <div class="modal-dialog">
            <div class="modal-content">
            
                <!-- Modal Header -->
                <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                Modal body..
                </div>

    </div>
</div>