<div class="container">
  <div class="pt-5">
    <div ng-show="!pageList.length" class="card-body page-list">
      <div *ngFor="let page of pageList; index as i">
        <mat-card class="course-card">
          <mat-card-subtitle>{{page.type | titlecase}}</mat-card-subtitle>
          <mat-card-title>{{page.name}}</mat-card-title>
          <mat-card-content>
            <p>In order: {{ page.pageOrder}}</p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <button mat-button (click)="delete(page.id)">DELETE</button>
            <button mat-button (click)="update(page)">UPDATE</button>
          </mat-card-actions>
          <mat-card-footer>
            
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
    {{pageList | json}}
  </div>
  <div class="pt-5">
    <div class="card">
      <div class="card-header">
        <app-preview-modal></app-preview-modal>
        <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="pageType">
            <mat-button-toggle value="text" #textBtn>Text page</mat-button-toggle>
            <mat-button-toggle value="quiz" #quizBtn>Quiz</mat-button-toggle>
            <mat-button-toggle value="coding" #codingBtn>Coding challange</mat-button-toggle>
          </mat-button-toggle-group>
      </div>
      <div class="card-body" >

          <div *ngIf="textBtn.checked">
            <app-text-page [courseId]="course.id"></app-text-page>
          </div>

          <div *ngIf="quizBtn.checked">
            <app-quiz-page></app-quiz-page>
          </div>

          <div *ngIf="codingBtn.checked">
            <app-coding-page></app-coding-page>
          </div>

      </div>
    </div>
  </div>
</div>