<div class="row">
    <div class="smallColumn"></div>
    <div class="column">
        <div class="pt-5">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-secondary" type="button">Add image</button>
                    <button class="btn btn-secondary" type="button">Make this page coding challange</button>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="smallColumn"></div>
                        <div class="column">
                            <div class="row">
                                <div class="d-grid gap-2">
                                </div>
                            </div>
                        </div>
                        <div class="smallColumn"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="smallColumn"></div>
</div>