.card-header {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.card-body {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 20px;
}

.course-card {
    min-width: 400px;
}
  