<button type="button" class="btn btn-warning" (click)="openModal(template)">Delete your account</button>

<ng-template #template>
   <div class="modal-header">
      <h4 class="modal-title pull-left">Enter your details to validate your action!</h4>
   </div>
   <div class="modal-body">
    <form [formGroup]="loginForm" (ngSubmit)="verify()">
        <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" class="form-control" [formControlName]="'username'" id="inputUsername" aria-describedby="username">
            <small *ngIf="!loginForm.get('username')?.valid && loginForm.get('username')?.touched">
              Required.<br>
            </small>
          </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" [formControlName]="'password'" id="inputPassword">
          <small *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched">
            Required.<br>
          </small>
        </div>
        <div type="submit" class="text-center">
          <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
      </div>
    </form>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
   </div>
</ng-template>