/* You can add global styles to this file, and also import other style files */
.form-group, .btn-primary{
    margin-top: 10px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}
.end{
    margin-top: 100px;
    background-repeat: no-repeat;
    background-image: url("/assets/img/code-small.png");
}