/* You can add global styles to this file, and also import other style files */
.form-group, .btn-primary{
    margin-top: 10px;
}


.auth > input.ng-invalid.ng-touched {
    border: 1px solid red;
}
.auth > textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

h4 {
    margin-top: 20px;
}

.end{
    margin-top: 100px;
    background-repeat: no-repeat;
    background-image: url("/assets/img/code-small.png");
}

.column {
    width: 50%;
    background-color: white;
}

.smallColumn {
    width: 25%;
  }

.clickable {
    cursor: pointer;
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.course-maker-header {
    display: flex;
    flex-direction: column;
}

.topMargin {
    margin-top: 20px;
}

.addMargin {
    margin-left: 25px;
    margin-right: 25px;
}

.answers > * {
    margin-right: 10px;
}