<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid column">
    <button class="btn btn-dark navbtn" type="button" routerLink="/home" >JavaLearn</button>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" *ngIf="!currentUser?.id">
        <a class="nav-link active navbtn" routerLink="/signup">Register</a>
        <a class="nav-link active navbtn" href="/login">Login</a>
      </div>
      <div class="navbar-nav" *ngIf="currentUser?.id">
        <div *ngIf="!isAdmin">
          <a class="nav-link active navbtn" routerLink="/profile">{{currentUser.username}}</a>
        </div>
        <div *ngIf="isAdmin">
          <a class="nav-link active navbtn" routerLink="/admin">{{currentUser.username}}</a>
        </div>
        <a class="nav-link active navbtn" routerLink="/courses">Courses</a>
        <a class="nav-link active navbtn" (click)="logout()">Logout</a>
        <a class="nav-link active navbtn" >admin: {{isAdmin()}}</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
