
<button class="btn btn-dark navbtn" type="button" href="/" >JavaLearn</button>

<div *ngIf="!isLoggedIn">
  <li class="nav-item">
    <a class="nav-link active navbtn" href="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active navbtn float" routerLink="/signup">Register</a>
  </li>
</div>
<div *ngIf="isLoggedIn">
  <li class="nav-item">
    <a class="nav-link active navbtn float" routerLink="/">{{username}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active navbtn float" (click)="logout()">Logout</a>
  </li>
</div>